.home,
.services,
.events,
.nextevents,
.suplementation,
.entrevista,
.sing-up,
.international,
.national,
.whowere,
.interview {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.home{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.services{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.suplementation{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.nextevents{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.events{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sing-up{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}


.international{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.national{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.entrevista{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;

}
.whowere{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;

}
.interview{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
.slider{
  z-index: 10;

  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.image{
margin-top: 16px;
  width: 1000px;
  height: 600px;
  border-radius: 5px;
}
.right-arrow{
  position: absolute;
  top: 40%;
  right: 270px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.left-arrow{
  position: absolute;
  top: 40%;
  left: 270px;
  font-size: 3rem;
  color: rgb(0, 0, 0);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.pageHome{
  background-image:url('./assets/halteres5.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

@media screen and (min-width:300){

}
@media screen and (max-width: 650px){

}
